:root {
    --transition-duration: 2s;
    --path-length: 157px;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #FFFACD, #B8860B);
  }
  
  svg {
    overflow: visible;
    width: 100px;
    height: 150px;
  }
  
  svg g {
    animation: slide var(--transition-duration) linear infinite;
  }
  
  svg g:nth-child(2) {
    animation-delay: calc(var(--transition-duration) / 4);
  }
  
  svg g:nth-child(2) path {
    animation-delay: calc(var(--transition-duration) / 4);
    stroke-dasharray: 0px calc(var(--path-length) + 1);
    stroke-dashoffset: 1px;
  }
  
  svg path {
    stroke: url(#gradient);
    stroke-width: 20px;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 0 var(--path-length);
    stroke-dashoffset: 0;
    animation: escalade var(--transition-duration) cubic-bezier(0.8, 0, 0.2, 1) infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(50px);
    }
  }
  
  @keyframes escalade {
    0% {
      stroke-dasharray: 0 var(--path-length);
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: var(--path-length) var(--path-length);
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dasharray: var(--path-length) var(--path-length);
      stroke-dashoffset: calc(-1 * (var(--path-length) - 1));
    }
  }
  